In [1]:
import numpy as np
import pandas as pd

In [3]:
xls = pd.ExcelFile('WineKMC.xlsx')

In [6]:
sheet_name = xls.sheet_names
sheet_name

['OfferInformation',
 'Transactions',
 'Pivot',
 'Matrix',
 '4MC',
 '4MC - TopDealsByCluster',
 'Distances',
 '4MC Silhouette',
 '5MC',
 '5MC - TopDealsByCluster',
 '5MC Silhouette',
 '5MedC',
 '5MedC - TopDealsByCluster']

In [9]:
# create dataframe with loop
# exec('{} = pd.DataFrame()'.format(name)) >> got invalid syntax
# https://stackoverflow.com/questions/30635145/create-multiple-dataframes-in-loop

for name in sheet_name:
    globals()["df_" + name] = xls.parse(name)

,Offer #,Campaign,Varietal,Minimum Qty (kg),Discount (%),Origin,Past Peak,Cluster 1,Cluster 2,Cluster 3,...,Turner,Walker,Ward,Watson,White,Williams,Wilson,Wood,Wright,Young
0,1,January,Malbec,72,56,France,FALSE,0.028245,0.012320,0.043462,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
1,2,January,Pinot Noir,72,17,France,FALSE,0.234237,0.021555,0.107936,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,February,Espumante,144,32,Oregon,TRUE,0.017346,0.022891,0.054139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,February,Champagne,72,48,France,TRUE,0.015503,0.025705,0.130305,...,1.000000,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN
4,5,February,Cabernet Sauvignon,144,44,New Zealand,TRUE,0.022535,0.022249,0.053621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,March,Prosecco,144,86,Chile,FALSE,0.027938,0.009625,0.094516,...,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000
6,7,March,Prosecco,6,40,Australia,TRUE,0.033617,0.540689,0.122585,...,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
7,8,March,Espumante,6,45,South Africa,FALSE,0.007007,0.430207,0.154885,...,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
8,9,April,Chardonnay,144,57,Chile,FALSE,0.014457,0.013800,0.141358,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
9,10,April,Prosecco,72,52,California,FALSE,0.010358,0.041065,0.082892,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
10,11,May,Champagne,72,85,France,FALSE,0.031670,0.024684,0.128238,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,May,Prosecco,72,83,Australia,FALSE,0.016280,0.040943,0.072780,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,May,Merlot,6,43,Chile,FALSE,0.026301,0.193795,0.016470,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,June,Merlot,72,64,Chile,FALSE,0.044877,0.033696,0.060509,...,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,1.000000,NaN,NaN
14,15,June,Cabernet Sauvignon,144,19,Italy,FALSE,0.012857,0.024483,0.052330,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
15,16,June,Merlot,72,88,California,FALSE,0.029691,0.009157,0.063102,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,July,Pinot Noir,12,47,Germany,FALSE,0.608067,0.031951,0.004911,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,July,Espumante,6,50,Oregon,FALSE,0.027363,0.418973,0.074289,...,NaN,1.000000,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
18,19,July,Champagne,12,66,Germany,FALSE,0.025258,0.015081,0.078215,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,August,Cabernet Sauvignon,72,82,Italy,FALSE,0.024487,0.015358,0.068570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,August,Champagne,12,50,California,FALSE,0.014124,0.048606,0.049861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN
21,22,August,Champagne,72,63,France,FALSE,0.008853,0.024395,0.022573,...,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN,1.000000
22,23,September,Chardonnay,144,39,South Africa,FALSE,0.028802,0.023176,0.035664,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,September,Pinot Noir,6,34,Italy,FALSE,0.941051,0.042958,0.016569,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,October,Cabernet Sauvignon,72,59,Oregon,TRUE,0.024581,0.034204,0.083156,...,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN
25,26,October,Pinot Noir,144,83,Australia,FALSE,0.689929,0.030283,0.089691,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,27,October,Champagne,72,88,New Zealand,FALSE,0.010140,0.020618,0.086922,...,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN
27,28,November,Cabernet Sauvignon,12,56,France,TRUE,0.026047,0.016687,0.090214,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,November,Pinot Grigio,6,87,France,FALSE,0.011975,0.619309,0.042707,...,NaN,1.000000,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
29,30,December,Malbec,6,54,France,FALSE,0.019894,0.729453,0.079314,...,NaN,NaN,NaN,NaN,1.000000,NaN,1.000000,NaN,NaN,NaN
30,31,December,Champagne,72,89,France,FALSE,0.023215,0.027343,0.211387,...,1.000000,NaN,NaN,NaN,NaN,1.000000,NaN,1.000000,NaN,1.000000
31,32,December,Cabernet Sauvignon,72,45,Germany,TRUE,0.092920,0.012990,0.053405,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
32,NaN,NaN,NaN,NaN,NaN,NaN,Distance to Cluster 1,NaN,NaN,NaN,...,2.378221,1.931541,1.666889,1.928300,2.369202,2.165794,1.937969,2.365615,2.382040,2.729294
33,Total Distance,NaN,NaN,NaN,NaN,NaN,Distance to Cluster 2,NaN,NaN,NaN,...,2.336340,1.244388,1.604261,1.142396,1.995387,1.919282,1.142691,2.322976,2.327220,2.720256
34,140.749,NaN,NaN,NaN,NaN,NaN,Distance to Cluster 3,NaN,NaN,NaN,...,1.790104,1.420119,0.995048,1.385693,1.938976,1.623032,1.335041,1.858556,1.878170,2.258228
35,NaN,NaN,NaN,NaN,NaN,NaN,Distance to Cluster 4,NaN,NaN,NaN,...,1.939495,1.822075,1.468168,1.804182,1.666570,1.406038,1.729013,1.985953,2.034751,1.915790
36,NaN,NaN,NaN,NaN,NaN,NaN,Minimum Cluster Distance,NaN,NaN,NaN,...,1.790104,1.244388,0.995048,1.142396,1.666570,1.406038,1.142691,1.858556,1.878170,1.915790
37,NaN,NaN,NaN,NaN,NaN,NaN,Assigned Cluster,NaN,NaN,NaN,...,3.000000,2.000000,3.000000,2.000000,4.000000,4.000000,2.000000,3.000000,3.000000,4.000000